body
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.background-image
{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),#009688),url(Vape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@font-face {
    font-family: 'neontubes';
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
   
  .main {
    display: block;
    position: absolute;
    top: 49%;
    left: 36%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50vw;
    height: auto;
    font-family: "neontubes";
    font-size: 16vw;
    text-align: center;
    white-space: nowrap;
  }
  .main span {
    display: block;
    position: relative;
    -webkit-transform: translateZ(0) translate3D(0, 0, 0);
            transform: translateZ(0) translate3D(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    will-change: opacity;
  }
  .main .webdev {
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #009688, 0 0 20px rgba(0, 255, 242, 0.5), 
    0 0 40px #00c4b0, 0 0 100px #01ffe6, 0 0 200px #01ffe6, 0 0 300px #01ffe6, 0 0 500px #01ffe6, 0 0 1000px #01ffe6;
    -webkit-animation: blink 1.5s infinite alternate;
            animation: blink 1.5s infinite alternate;
  }
   
  @-webkit-keyframes buzz {
    70% {
      opacity: 0.80;
    }
  }
   
  @keyframes buzz {
    70% {
      opacity: 0.80;
    }
  }
  @-webkit-keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }
  @keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }
  @media screen and (min-width: 1000px) {
    .main {
      width: 100px;
      font-size: 50px;
    }
  }
.banner-text{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 50px;
}
.banner-text h1{
    font-size: 120px;
    margin-block-start: 50px;
    margin-block-end: 10px;
    
}
.banner-btn{
    margin: 70px auto 0;
    margin-top: 200px;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #000;
}
#sideNav{
    width: 180px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 40px 1px;
    font-weight: 600;
    margin-top: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    border: 100%;
}
.foot-img{
    width: 100px;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 10%;
    right: 35%;
    transform: translate(-50%,-50%);
}
#menuBtn {
    width: 35px;
    height: 60px;
  top: 50px;
  right: 10px;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
    z-index: 3;
}

#menuBtn:before,
#menuBtn:after,
#menuBtn div {
  background: #fff;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
#menuBtn:hover:before {
  transform: translateY(12px) rotate(135deg);
}
#menuBtn:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
#menuBtn:hover div {
  transform: scale(0);
}
@media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 80px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
    span.webdev{
        font-size: 9vw;
        margin-top: 125px;
        margin-left: -18px;
    }
    img.foot-img{
        width: 70px;
        margin-left: 15px;
        margin-top: -20px;
    }
}


/*--features--*/

#features{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50;
    height: 35;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 7px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa{
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 41px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
}
@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 50px;
    }
    .features{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
    }
    .features-img img{
        width: 100%;
    }
}

/*--service--*/

#service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.service-box{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.single-service:hover  .overlay{
    opacity: 1;
}
.service-desc{
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 25px;
}
.single-service:hover .service-desc{
    bottom: 16%;
    opacity: 1;
}
@media screen and (max-width: 770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 14px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
    bottom: 24% !important;
    }
}

/*--testimonial--*/

#testimonial{
    width: 100%;
    padding: 70px 0;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 20px 30px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-col p{
    font-size: 15px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
h4{
    margin: auto;
    margin-bottom: 2px;
}
.user-info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}
.user-info small{
    color: #009688;
}
.testimonial-col:hover{
    transform: translateY(-7px);
}

@media screen and (max-width: 770px){
    .testimonial-col{
        flex-basis: 100%;
    }
}

/*--footer--*/

#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 20px;
}
.footer-left .fa,.footer-right .fa{
    font-size: 20px;
    color: #009688;
    margin: 5px;
}
.footer-img{
    width: 320px;
    opacity: 0.1;
    position: absolute;
    top: 28%;
    left: 50%;
    right: 35%;
    transform: translate(-50%,-50%);
}
.social-icon{
    text-decoration: none;
}
.social-links{
    text-align: center;
}
.social-links .fa{
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    border-radius: 12px;
    color: #009688;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}
.social-links p{
    font-size: 15px;
    margin-top: 20px;
}

@media screen and (max-width: 770px){
    .footer-left .fa,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        width: 280px;
        top: 20%;
    }
}


